$table-width: 1470px;
$column-1-width: 957px; // 첫 번째 열 너비
$column-2-width: 542px; // 두 번째 열 너비
$thead-height: 64px;
$row-height-1: 104px; // 첫 번째 열의 tbody 높이
$row-height-2: 312px; // 두 번째 열의 첫 번째 줄 높이
$row-height-3: 208px; // 두 번째 열의 나머지 줄 높이
$border-color: #868686;

.custom-table {
  width: $table-width;
  border-top: 3px solid $border-color;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $border-color;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  thead {
    height: $thead-height;
    background-color: #e3e7f0;

    th {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        height: $row-height-1;
      }

      &:nth-child(8) {
        height: $row-height-2;
      }

      &:nth-child(9),
      &:nth-child(10) {
        height: $row-height-3;
      }
    }

    td {
      &:nth-child(1) {
        width: $column-1-width;
      }

      &:nth-child(2) {
        width: $column-2-width;
      }
    }

    .content-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
    }
  }
}

.left {
  border-left: none !important;
}

.right {
  border-right: none !important;
}

.flexs {
  display: flex;
  align-items: center;
  justify-content: center;
}
